<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" [formGroup]="newForm">
      <div class="row">
        <div class="col-xs-12">
          <button
            [disabled]="this.newForm.invalid"
            type="submit"
            class="btn btn-success"
          >
            Save
          </button>
          <button (click)="onCancel()" type="button" class="btn btn-danger">
            Cancel
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name"
              >Name:
              <input
                type="text"
                name="name"
                class="form-control"
                formControlName="name"
              />
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath"
              >Image URL:
              <input
                type="text"
                name="imagePath"
                class="form-control"
                formControlName="imagePath"
                #imagePath
              />
            </label>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="imagePath.value">
        <div class="col-xs-12">
          <img [src]="imagePath.value" alt="imagePath" class="img-responsive" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description"
              >Description:
              <textarea
                name="description"
                id="description"
                class="form-control"
                rows="3"
                formControlName="description"
              ></textarea>
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredientList">
          <div
            class="row"
            style="display: flex; align-items: center"
            *ngFor="let item of controls; let i = index"
            [formGroupName]="i"
          >
            <div class="col-xs-8">
              <input
                type="text"
                class="form-control"
                name="ingredientName"
                formControlName="name"
              />
            </div>
            <div class="col-xs-2">
              <input
                type="number"
                name="amount"
                class="form-control"
                formControlName="amount"
              />
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger">X</button>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-xs-2">
          <button
            (click)="onAddIngredient()"
            type="button"
            class="btn btn-success"
          >
            Add Ingredient
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
