<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive" />
  </div>
</div>
<div *ngIf="selected; else noSelected">
  <div class="row">
    <div class="col-xs-12">
      <div>
        <img [src]="selected.imagePath" [alt]="selected.name" width="100px" />
        <h3>
          {{ selected.name }}
        </h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group" appDropdown>
        <button type="button" class="btn btn-primary dropdown-toggle">
          Manage Recipe <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a
              style="cursor: pointer"
              (click)="addNewShippingList(selected.ingredientList)"
              >To Shopping List</a
            >
          </li>
          <li>
            <a [routerLink]="['/recipes', id+1, 'edit']" style="cursor: pointer"
              >Edit Recipe</a
            >
          </li>
          <li><a style="cursor: pointer">Delete Recipe</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">{{ selected.description }}</div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let item of selected.ingredientList"
        >
          {{ item.name }} ({{ item.amount }})
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #noSelected>
  <h1>No Item</h1>
</ng-template>
